<div class="content-box">
  <%= link_to 'Back', announcements_path, class: "back-button" %>

  <div class="crud-body">
    <h1 class="crud-header">New Announcement</h1>
    <%= render 'form', announcement: @announcement %>
  </div>
</div>
