@mixin respond($breakpoint) {
	$breakpointEM: ($breakpoint / 16) *1em;
	@if $breakpointEM > 2000 {
		@media (max-width: $breakpointEM) {
			@content;
		}
	} @else {
		@media (max-width: $breakpointEM) {
			@content;
		}
	}
}

$lgreen: #4ea655;
$warnred: #db000b;
$offwhitel: #f4f4f4;
$grayhover: #b4b6bf;

/*Included classes*/
    /*wrapper, navigation, landing_s1, landing_s2, landing_s3, flex-box, flex2, flex3, flex4, footer, button1, button2*/

/*initalizing*/
table {
  width: 100%;
  border: 1px solid #000;
	border-collapse: collapse;
	margin-bottom: 40px;
	font-size: 18px;
}

th, td {
	border: 1px solid #000;
	padding: 5px;
}

thead, tbody {
	width: 100%;
}

html, body {
	min-height: 100vh;
	margin: 0px;
}

.logo {
	height: 60px;
	width: 60px;
}

.submit-button {
  background-color: white;
	border: solid;
	border-width: 1px;
	border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-weight: bold;
	transition: all .2s;
}

.submit-button:hover {
	cursor: pointer;
	background-color: $lgreen;
}

.member-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031814/DebateTeamTracker/member-background_makhn8.jpg');
	background-size: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.leaderboard-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031815/DebateTeamTracker/leaderboard-background_jt0l76.jpg');
	background-size: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.announcements-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031814/DebateTeamTracker/announcements-background_ncdo7l.jpg');
	background-size: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.profile-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031814/DebateTeamTracker/profile-background_lybssp.jpg');
	background-size: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.points-events-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031814/DebateTeamTracker/points-events-background_jj6tnx.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.groups-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031815/DebateTeamTracker/groups-background_mhwozt.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.events-bg {
	background-image: url('https://res.cloudinary.com/dadepm8cf/image/upload/v1637031814/DebateTeamTracker/profile-background_lybssp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.back-button {
	float: left;
	margin-left: 40px;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-weight: bold;
	transition: all .2s;
}

.back-button:hover {
	cursor: pointer;
	background-color: $grayhover;
}

.content-box {
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	min-height: calc(100vh - 130px);
}

.leaderboard {
	width: 100%;
	.name {
			width: 70%;
	}
}

.field {
	width: 80px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	padding-right: 20px;
}

.actions {
	padding-top: 20px;
}

/*
	CRUD page styling
*/
.crud-header {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.crud-body {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	background-color: $offwhitel;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	// min-height: 100vh;
	padding-bottom: 50px;
}

.crud-table {
	background-color: #white;
	border-color: white;

	th {
		background-color: #9a9da6;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	th, td {
    border: 1px solid $grayhover;
  }

	tbody tr:hover {
	  background: $grayhover;
	}

	.crud-show {
		text-decoration:none;
		font-weight: bold;
		color: black;
		height: 100%;
		width: 100%;
	}

	.crud-show:hover {
		text-decoration: underline;
	}
}

.crud-button, .delete-button {
	transition: all .2s;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-color: black;
	color: black;
	width: 90px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}

.crud-button:hover {
	cursor: pointer;
	background-color: $lgreen;
}

.delete-button:hover {
	cursor: pointer;
	background-color: $warnred;
}

.radio-select {
	display: flex;
	flex-direction: row;

	.radio-label {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.crud-flex {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	font-size: 18px;
	height: 100%;

	.half {
		width: 50%;
	}

	.full {
		width: 100%;
	}

	.crud-text {
		flex: 1;
	}

	.crud-input {
		flex: 3;
		font-size: 18px;
	}

	.crud-left {
		flex: 1;
	}

	.crud-right {
		flex: 3;
	}
}

.show-box {
	max-height: 800px;
}

.dropdown {
	height: 26px;
}

.selection-field {
	width: 100%;
	font-size: 16px;
}

.instruction-text {
	color: gray;
	font-size: 11px;
	flex: 1;
}

.crud-submit {
	margin-left: auto;
	margin-right: auto;
}

/*
	Profile styling
*/
.profile-body {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	background-color: $offwhitel;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	padding-bottom: 50px;
}

.pointsevents-memberlist {
	padding-right: 20px;
}

.avatar {
	margin-bottom: 30px;
	border-radius: 50%;
}

.profile-header {
	margin-bottom: 30px;
}
