//classes: navbar, link

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #2b2c4b;
}

.left-navbar{
    padding-right: 10px;
    width: 18%;
    min-width: 200px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;

    .child_logo{
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right-navbar{
    padding-right: 10px;
    min-width: 200px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-content: center;

    .link-box{
        padding: 0px 20px;
        height: 50px;
        display: flex;
    }

    .link-box:hover{
        cursor: pointer;
    }

    .link {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
    }

    a{
        text-decoration: none;
        color: #ffffff;
    }
}

.google-sign-in {
  display: flex;
  margin-top: 5px;
  margin-right: 20px;
  height: 40;

}
