//classes: navbar, link

.navbar{
    display: flex;
    justify-content: space-between;
    background: #00000080;
    background: #efefef;
    background: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 6px 6px -2px rgba(0,0,0,.4);
}

.left-navbar{
    padding-right: 10px;
    width: 18%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .child_logo{
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right-navbar{
    padding-right: 10px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .link{
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: #F6BD0B;
            color: #181E42;
            color: #999;
            font-weight: 700;
            font-family: Roboto;
font-size: 13px;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 15px;
        }
    }
    
    .link:hover{
        cursor: pointer;
    }
    
    a{
        text-decoration: none;
        color: #500000;
        position: relative;
    }

    a:hover{
        color: #eee;
        color: black;
    }

    a::before{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -3px;
        left:0;
        position: absolute;
        background-color: white;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.4s ease;
    }

    a:hover::before{
        transform: scaleX(1);
    }
}

