<div class="content-box groups-bg">
  <%= link_to groups_path, class: "back-button" do %>
    <p><i class='fas fa-angle-double-left'></i> Back </p>
  <% end %>
  <div class="crud-body">
    <h1 class="crud-header">Editing mailing group</h1>
    <p class="instruction-text">Only select new members of group</p>
    <%= render 'form', group: @group %>
  </div>
</div>
