<div class="content-box groups-bg">
  <%= link_to groups_path, class: "back-button" do %>
    <p><i class='fas fa-angle-double-left'></i> Back </p>
  <% end %>
  <div class="crud-body">
    <h1 class="crud-header"><%= @group.title %> </h1>
    <div class="points-events-show">
      <h3>Group Members</h3>
          <%@member_groups.each do |mg|%>
              <p><%= @members.find(mg.member_id).name %></p>
          <% end %>
    </div>

    <div class="crud-flex" style="margin-top: 40px">
      <%= link_to 'Edit', edit_points_event_path(@points_event), class: "crud-button" %>
    </div>
    
  </div>
</div>

