<div class="content-box groups-bg">
  <div class="crud-body">
    <h1 class="crud-header"><%= @group.title %> </h1>
    <table>
      <thead>
        <tr>
          <th>Members</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
          <%@member_groups.each do |mg|%>
            <tr>
              <td><%= @members.find(mg.member_id).name %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'Back', groups_path %>
  </div> <!-- crud-body -->
</div> <!-- content-box -->
