<h1>Welcome Page</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div class="wrapper">
  <div class="navigation"> </div>

  <div class="landing.s1">
    <h1> Speech & Debate </h1>
    <h3> Place holder Header </h3>
    <div class="button1"> <p> Button Here Later </p> </div>
    <div class="button2"> <p> Button Here Later </p> </div>
  </div> <!--top Section-->

  <div class="landing.s2">
    <h2> Informational Section Here </h2>
    <div class="flex-box flex3">
      <div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div> <!--flex-box flex3-->
  </div>  <!--landing.s2-->

  <div class="landing.s3">
    <div class="flex-box flex2">
      <div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div> <!--flex-box flex2-->
  </div> <!--landing.s3-->

  <div class="footer">
    <div class="flex-box flex4">
        <div class="icon"> </div>
        <div class="icon"> </div>
        <div class="icon"> </div>
        <div class="icon"> </div>
    </div> <!--flex-box flex4-->
  </div> <!--footer-->
</div>  <!--wrapper-->


