<div class="content-box">
  <div class="crud-body">
    <h1 class="crud-header">Leaderboard</h1>

    <table class="leaderboard">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <% @members.each do |member| %>
                <tr>
                    <td class="name"><%= member.name %></td>
                    <td><%= member.points %></td>
                </tr>
            <% end %>
        <tbody>
    </table>
  </div>
</div>
