<div class="content-box">
  <%= link_to 'Back', points_events_path, class: "back-button" %>

  <div class="crud-body">
    <h1 class="crud-header">New Points Event</h1>
    <%= render 'form', points_event: @points_event %>
  </div>
</div>
