// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$debyellow: #F6bd0b;
$debbg: #100200B2;

.simple-calendar {
  border: 2px solid black;
  margin-bottom: 20px;
  .day {
    border: 2px solid black;
  }

  .wday-0 {
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
  }

  .today {
  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
  }
  .next-month {
  }
  .current-month {
  }

  .has-events {
    background-color: rgb(255, 153, 153);
  }

  .has-events:hover {
    background-color: skyblue;
  }

  .event_name {
    background-color: black;
    color: white;
  }
  .preview{
      display: none;
  }

  .event_name:hover + div {
    display: block;
  }

}

#calendar {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	min-height: 100vh;
	padding-bottom: 50px;
  color: $debyellow;
  text-shadow: 2px 2px black;
}
