<h1> Welcome to your Profile <%= @member.name %></h1>

<h2>
  <center>
    <br>
    <img src=<%= current_admin.avatar_url %>>
    <br>
    <strong> Your total Points: </strong>
    <br>
    <%= @member.points %>
  </center>
</h2>
